{% load static %}

<head>
    <link rel="stylesheet" src="{% static 'vendor/font-awesone/css/flexboxgrid.min.css' %}">
</head>

<div class="pie">
    <div class="url">
        <p>
            www.onegym.com



        </p>
        <p>

            Sucursal mexico!
            <br> http://onegymty.com/
        </p>
    </div>
    <div class="redes-sociales">
        <p>Redes Sociales</p>
        <a></a>
        <A href="http://onegymty.com/">
            <div>
                <dd class="fab fa-instagram"></dd>
                <dd class="fab fa-twitter"></dd>
                <dd class="fab fa-facebook"></dd>
                <dd class="fab fa-whatsapp"></dd>
            </div>
    </div>
    <div class="telefono">
        <p class="direccion">Direccion</p>
        <p>
            Av, sin nombre, 123 - Chile
        </p>
        <p>
            Email: Contacto@onegym.com
        </p>
        <p>
            Telefono: +56 9 87654321
        </p>
    </div>
</div>